{% extends 'base.html/' %}
{% load static %}

{% block title %}About{% endblock%}

{% block style %}
<link rel="stylesheet"  href="{% static 'styles/about.css' %}">
<link rel="stylesheet"  href="{% static 'styles/about_responsive.css' %}">
<link rel="stylesheet" href="{% static 'styles/main_styles.css' %}">
<link rel="stylesheet" href="{% static 'styles/responsive.css' %}">
{% endblock %}

{% block content %}
	<!-- Home -->
	<div class="home">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{{ STATIC_PREFIX }}images/about.jpg" data-speed="0.8"></div>
		<div class="home_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content text-center">
							<div class="home_subtitle page_subtitle">Yakuza</div>
							<div class="home_title"><h1>About us</h1></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Intro -->

	<div class="intro">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="intro_content">
						<div class="intro_subtitle page_subtitle">Something new</div>
						<div class="intro_title"><h2>An Extraordinery Experience</h2></div>
						<div class="intro_text">
							<p>Our restaurant employs the most experienced chefs from all over the country. Due to the coronavirus pandemic, we started working to order at home. You can either book a table and visit our restaurant, or order with home delivery. We work for you. Your "Yakuza".</p>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-8">
							<div class="intro_image"><img src="{{ STATIC_PREFIX }}images/about_intro.jpg" alt="https://unsplash.com/@quanle2819"></div>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>

	<!-- Chefs -->

	<div class="chefs">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title_container">
						<div class="section_subtitle page_subtitle">Something new</div>
						<div class="section_title"><h1>Meet the Chefs</h1></div>
					</div>
				</div>
			</div>
			<div class="row chefs_text_row">
				<div class="col-lg-6">
					<div class="chefs_text">
						<p>Our restaurant selects the best chefs from all over the country, their team includes pizza chefs, sushi chefs and confectioners. Almost half of our menu is their personal recipes that bring joy and great taste to our customers. We are always happy to accept a worthy candidate for our restaurant, which is located throughout the country. If you are interested in the job, call the number below.</p>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="chefs_text">
						<p>私たちのレストランは全国から最高のシェフを選び、彼らのチームはピザのシェフ、寿司のシェフ、そして菓子屋を含みます。メニューのほぼ半分は、お客様に喜びと素晴らしい味をもたらす独自のレシピです。全国各地にある私たちのレストランの有能な候補者をいつでも喜んで受け入れます。興味のある方は下記までお電話ください。</p>
					</div>
				</div>
			</div>
			<div class="row chefs_row row-eq-height">
				
				<!-- Chef -->
				<div class="col-xl-3 col-md-6 chef_col d-flex flex-column align-items-center justify-content-end">
					<div class="chef">
						<div class="chef_image"><img src="{{ STATIC_PREFIX }}images/chef_1.jpg" alt=""></div>
						<div class="chef_content text-center">
							<div class="chef_name">Maria Smith</div>
							<div class="chef_subtitle">Top Chef</div>
							<div class="chef_button ml-auto mr-auto trans_400"><a href="#">see more</a></div>
						</div>
					</div>
				</div>

				<!-- Chef -->
				<div class="col-xl-3 col-md-6 chef_col d-flex flex-column align-items-center justify-content-end">
					<div class="chef">
						<div class="chef_image"><img src="{{ STATIC_PREFIX }}images/chef_2.jpg" alt=""></div>
						<div class="chef_content text-center">
							<div class="chef_name">William Jones</div>
							<div class="chef_subtitle">Pizza Chef</div>
							<div class="chef_button ml-auto mr-auto trans_400"><a href="#">see more</a></div>
						</div>
					</div>
				</div>

				<!-- Chef -->
				<div class="col-xl-3 col-md-6 chef_col d-flex flex-column align-items-center justify-content-end">
					<div class="chef">
						<div class="chef_image"><img src="{{ STATIC_PREFIX }}images/chef_3.jpg" alt=""></div>
						<div class="chef_content text-center">
							<div class="chef_name">Julien Williams</div>
							<div class="chef_subtitle">Sushi Chef</div>
							<div class="chef_button ml-auto mr-auto trans_400"><a href="#">see more</a></div>
						</div>
					</div>
				</div>

				<!-- Chef -->
				<div class="col-xl-3 col-md-6 chef_col d-flex flex-column align-items-center justify-content-end">
					<div class="chef">
						<div class="chef_image"><img src="{{ STATIC_PREFIX }}images/chef_4.jpg" alt=""></div>
						<div class="chef_content text-center">
							<div class="chef_name">Suzie James</div>
							<div class="chef_subtitle">
								Pastry Chef</div>
							<div class="chef_button ml-auto mr-auto trans_400"><a href="#">see more</a></div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- Testimonials -->

	<div class="testimonials">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{{ STATIC_PREFIX }}images/testimonials.jpg" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_title_container">
						<div class="section_subtitle page_subtitle">What they say</div>
						<div class="section_title"><h1>Testimonials</h1></div>
					</div>
				</div>
			</div>
			<div class="row testimonials_row">
				<div class="col-lg-10 offset-lg-1">
					
					<!-- Testimonials Slider -->
					<div class="test_slider_container">
						<div class="owl-carousel owl-theme test_slider">
							
							<!-- Slide -->
							<div class="owl-item text-center">
								<div class="quote ml-auto mr-auto"><img src="{{ STATIC_PREFIX }}images/quote.png" alt=""></div>
								<div class="test_text">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus. Ut non justo eleifend, facilisis nibh ut, interdum odio. Suspendisse potenti. Vivamus luctus diam eu neque rutrum, vitae aliquet dolor venenatis. Nulla consequat fringilla massa.</p>
								</div>
								<div class="test_info">James Smith, <span>Client</span></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Reservations -->

	<div class="reservations text-center">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{{ STATIC_PREFIX }}images/reservations.jpg" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="reservations_content d-flex flex-column align-items-center justify-content-center">
						<div class="res_stars page_subtitle">5 Stars</div>
						<div class="res_title">Make a Reservation</div>
						<div class="res_form_container">
							<form action="#" id="res_form" class="res_form">
								<div class="d-flex flex-sm-row flex-column align-items-center justify-content-start">
									<input type="text" id="datepicker" class="res_input" required="required">
									<input type="text" class="res_input timepicker" required="required">
									<select class="res_select">
										<option disabled="" selected="">2 person</option>
										<option>3 person</option>
										<option>4 person</option>
										<option>5 person</option>
										<option>6 person</option>
									</select>
								</div>
								<button class="res_button">Make a Reservation</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>		
	</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/about.js' %}"></script>
{% endblock %}