{% extends 'base.html/' %}
{% load static %}
{% block title %}Home{% endblock%}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/main_styles.css' %}">
<link rel="stylesheet" href="{% static 'styles/responsive.css' %}">
{% endblock %}

{% block content %}
<!-- Home -->
<div class="home">
	<div class="parallax_background parallax-window" data-parallax="scroll"
		data-image-src="{{ STATIC_PREFIX }}images/home.jpg" data-speed="0.8"></div>
	<div class="home_container">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="home_content text-center">
						<div class="home_subtitle page_subtitle">Yakuza is</div>
						<div class="home_title">
							<h1>An Extraordinery Experience</h1>
						</div>
						<div class="home_text ml-auto mr-auto">
							<p>Our restaurant employs the most experienced chefs from all over the country.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="scroll_icon"></div>
</div>

<!-- Intro -->

<div class="intro">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="intro_content">
					<div class="intro_subtitle page_subtitle">Something new</div>
					<div class="intro_title">
						<h2>An Extraordinery Experience</h2>
					</div>
					<div class="intro_text">
						<p>Our restaurant employs the most experienced chefs from all over the country. Due to the coronavirus pandemic, we started working to order at home. You can either book a table and visit our restaurant, or order with home delivery. We work for you. Your "Yakuza".</p>
					</div>
				</div>
				<div class="row">
					<div class="col-xl-4 col-md-6 intro_col">
						<div class="intro_image"><img src="{{ STATIC_PREFIX }}images/intro_0.jpg"></div>
					</div>
					<div class="col-xl-4 col-md-6 intro_col">
						<div class="intro_image"><img src="{{ STATIC_PREFIX }}images/intro_3.jpg">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% for item in new %}
<div class="sig">
	<div class="sig_content_container">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">
					<div class="sig_content">
						<div class="sig_subtitle page_subtitle">Something new</div>
						<div class="sig_title">
							<h1>Our Signature Dish</h1>
						</div>
						<div class="rating_r sig_rating rating_r_5"><i></i><i></i><i></i><i></i><i></i></div>
						<div class="sig_name_container d-flex flex-row align-items-start justify-content-start">
							<div class="sig_name">{{item.name}}</div>
							<div class="sig_price ml-auto">{{item.price}}$</div>
						</div>
						<div class="sig_content_list">
							<ul class="d-flex flex-row align-items-center justify-content-start">
								{{item.description}}
							</ul>
						</div>
						<div class="button sig_button trans_200"><a href="#">Order Now</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="sig_image_container">
		<div class="container">			
			<div class="row">				
				<div class="col-lg-7 offset-lg-5">					
					<div class="sig_image">						
						<div class="background_image">							
							<img src="{{item.image.url}}" alt="">					
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endfor %}

<!-- The Menu -->

<div class="themenu">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="themenu_title_bar_container">
					<div class="themenu_stars text-center page_subtitle">5 Stars</div>
					<div class="themenu_rating text-center">
						<div class="rating_r rating_r_5"><i></i><i></i><i></i><i></i><i></i></div>
					</div>
					<div class="themenu_title_bar d-flex flex-column align-items-center justify-content-center">
						<div class="themenu_title">The Menu</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row themenu_row">

			<!-- Pizza -->
			<div class="col-lg-4 themenu_column">
				<div class="themenu_col">
					<div class="themenu_col_title">Pizza</div>
					<div class="dish_list">

						<!-- Dish -->
						{% for item in pizza %}
						<div class="dish">
							<div
								class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
								<div class="dish_title"><h3>{{item.name}}</h3></div>
								<div class="dish_price">{{item.price}}$</div>
							</div>
							<div class="dish_contents">
								<ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
									<li>{{item.description}}</li>
								</ul>
							</div>						
						</div>
						{% endfor %}

					</div>
				</div>
			</div>

			<!-- Sushi -->
			<div class="col-lg-4 themenu_column">
				<div class="themenu_col">
					<div class="themenu_col_title">Sushi</div>
					<div class="dish_list">

						<!-- Dish -->
						{% for item in sushi %}
						<div class="dish">
							<div
								class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
								<div class="dish_title"><h3>{{item.name}}</h3></div>
								<div class="dish_price">{{item.price}}$</div>
							</div>
							<div class="dish_contents">
								<ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
									<li>{{item.description}}</li>
								</ul>
							</div>						
						</div>
						{% endfor %}
					</div>
				</div>
			</div>

			<!-- Dessert -->
			<div class="col-lg-4 themenu_column">
				<div class="themenu_col">
					<div class="themenu_col_title">Desserts</div>
					<div class="dish_list">

						<!-- Dish -->
						{% for item in dessert %}
						<div class="dish">
							<div
								class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
								<div class="dish_title"><h3>{{item.name}}</h3></div>
								<div class="dish_price">{{item.price}}$</div>
							</div>
							<div class="dish_contents">
								<ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
									<li>{{item.description}}</li>
								</ul>
							</div>							
						</div>
						{% endfor %}
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<!-- Reservations -->

<div class="reservations text-center">
	<div class="parallax_background parallax-window" data-parallax="scroll"
		data-image-src="{{ STATIC_PREFIX }}images/reservations.jpg" data-speed="0.8"></div>
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="reservations_content d-flex flex-column align-items-center justify-content-center">
					<div class="res_stars page_subtitle">5 Stars</div>
					<div class="res_title">Make a Reservation</div>
					<div class="res_form_container">
						<form action="#" id="res_form" class="res_form">
							<div class="d-flex flex-sm-row flex-column align-items-center justify-content-start">
								<input type="text" id="datepicker" class="res_input" required="required">
								<input type="text" class="res_input timepicker" required="required">
								<select class="res_select">
									<option disabled="" selected="">2 person</option>
									<option>3 person</option>
									<option>4 person</option>
									<option>5 person</option>
									<option>6 person</option>
								</select>
							</div>
							<button class="res_button">Make a Reservation</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/custom.js' %}"></script>
{% endblock %}